html body {
    margin: 0;
    font-family: cursive;
}

.container {
    width: 100vm;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../images/heart2.jpg) fixed no-repeat;
    background-size: cover;
}

.login-form{
    top: 100px;
    left: 50px;
    width: 240px;
    height: 220px;
    display: flex;
    flex-direction: column;
    padding: 40px;
    text-align: center;
    position: relative;
    z-index: 100;
    background: inherit;
    border-radius: 18px;
    overflow: hidden;
}

.login-form::before {
    content: "";
    width: calc(100%+20px);
    height: calc(100%+20px);
    position: absolute;
    top: -10px;
    left: -10px;
    overflow: hidden;
    background: inherit;
    box-shadow: inset 0 0 0 200px rgba(255,255,255,0.25);
}

.login-form h2 {
    font-size: 18px;
    font-weight: 400;
    color: #525252;
}

.login-form input,
.login-form button {
    margin: 6px 0;
    height: 36px;
    border: none;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 0 14px;
    color: #3d5245;
    box-shadow: 10px 5px 5px pink;
    /* box-shadow: 3px 3px pink, -1em 0 .4em pink; */
    /* box-shadow: inset 5em 1em gold; */
}

.login-form input::placeholder {
    color: #3d5245;
}

.login-form button:focus,
.login-form input:focus {
    outline: 0;
}

.login-form button {
    margin-top: 24px;
    background-color: rgba(214, 58, 71,0.7);
    color: white;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transform: 0.4s;
}

.login-form button:hover {
    background: rgba(225, 113, 123,0.5);
}

.login-form button::before,
.login-form button::after {
    content: "";
    display: block;
    width: 80px;
    height: 100%;
    background: rgba(255, 255, 255,0.5);
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    transform: skewX(-10deg);
    filter: blur(30px);
    overflow: hidden;
    transform: translateX(-100px);
}

.login-form button::after {
    width: 40px;
    background-color: rgba(179,255,210,0.3);
    left: 60px;
    opacity: 0;
    filter: blur(5px);
}

.login-form button:hover::before {
    transition: 1s;
    transform: translateX(320px);
    opacity: 0.7s;
}
.login-form button:hover::after{
    transition: 1s;
    transform: translateX(320px);
    opacity: 1;
}